* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    height: 300px;
    width: 400px;
    margin: 90px auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 5fr 2fr 2.5fr;
    grid-template-rows: repeat(5 2fr);



}

body {
    background-color: rgb(5, 5, 53);
}

.item:nth-child(1) {
    grid-column: 1/3;
    background-color: orangered;


}

.item:nth-child(2) {
    background-color: rgb(252, 220, 42);
    grid-column: 3/4;

}


.item:nth-child(3) {
    grid-row: 2/4;
    background-color: rgba(46, 160, 46, 0.842);
}

.item:nth-child(4) {
    grid-column: 2/4;
    background-color: rgb(8, 202, 202);
}

.item:nth-child(5) {
    grid-column: 2/4;
    background-color: rgb(8, 202, 202);

}

li a{
    color:brown;
    border-color: brown;
    border-style: solid;
    font-size: x-large;
}

@media (max-width:789px) {

    .grid-container {
        height: 300px;
        width: 400px;
        margin: 90px auto;
        display: grid;
        gap: 5px;
        grid-template-columns: 5fr 2fr ;
        grid-template-rows: repeat(4 2fr);



    }
  




}

@media (max-width:325px) {
    .item {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        width: 100%;
        height: 110%;
        align-items: center;
        justify-content: center;


    }

    .grid-container {
        height: 300px;
        width: 400px;
        margin: 50% auto;
        display: flex;
        flex-direction: column;
    }
}